<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25000"/>
    </settings>

    <typeAliases>
        <typeAlias alias="User" type="com.api.healthelp.model.entity.User"></typeAlias>
        <typeAlias alias="UserDTO" type="com.api.healthelp.model.dto.UserDTO"></typeAlias>
        <typeAlias alias="UserKeyValueDTO" type="com.api.healthelp.model.dto.UserKeyValueDTO"></typeAlias>
        <typeAlias alias="MAXIdDTO" type="com.api.healthelp.model.dto.MAXIdDTO"></typeAlias>
        <typeAlias alias="JwtUser" type="com.api.healthelp.model.security.JwtUser"></typeAlias>
        <typeAlias alias="Patient" type="com.api.healthelp.model.entity.Patient"></typeAlias>
        <typeAlias alias="PatientDTO" type="com.api.healthelp.model.dto.PatientDTO"></typeAlias>
    </typeAliases>

    <mappers>
        <mapper resource="static/userMapper.xml"/>
        <mapper resource="static/patientMapper.xml"/>
    </mappers>
</configuration>