<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.healthelp.dao.mapper.PatientMapper">
    <cache/>

    <resultMap id="patientMap" type="PatientDTO">
        <id property="id" column="id" />
        <result property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="tenantId" column="tenant_id" />
        <result property="patientName" column="patientname" />
        <result property="patientLastName" column="patientlastname" />
        <result property="patientDNI" column="patientdni" />
        <result property="patientTelephone" column="patienttelephone" />
        <result property="patientAddress" column="patientaddress" />
        <result property="patientLocation" column="patientlocation" />
        <result property="patientProfesion" column="patientprofesion" />
        <result property="patientEmail" column="patientemail" />
    </resultMap>





    <select id="getPatients" resultMap="patientMap">
        select p.id,p.user_id,p.tenant_id,p.patientname,p.patientlastname,p.patientdni,p.patienttelephone,p.patientaddress,
               p.patientlocation,p.patientprofession,p.patientemail
        from patients p
    </select>

    <select id="getPatientById" resultMap="patientMap">
        select p.id,p.user_id,p.tenant_id,p.patientname,p.patientlastname,p.patientdni,p.patienttelephone,p.patientaddress,
               p.patientlocation,p.patientprofession,p.patientemail
        from patients p
        where p.id = #{patientId}
    </select>

    <select id="getPatientsByName" resultMap="patientMap">
         select p.id,p.user_id,p.tenant_id,p.patientname,p.patientlastname,p.patientdni,p.patienttelephone,p.patientaddress,
               p.patientlocation,p.patientprofession,p.patientemail
        from patients p
        where p.patientname = #{patientName} and p.user_id = #{userId};
    </select>

    <insert id="insertPatient" parameterType="PatientDTO">
           INSERT INTO patients (id,user_id,tenant_id,patientname,patientlastname,patientdni,patienttelephone,patientaddress,patientlocation,patientprofession,patientemail)
           values (
            #{id},
            #{userId},
            #{tenantId},
            #{patientName},
            #{patientLastName},
            #{patientDNI},
            #{patientTelephone},
            #{patientAddress},
            #{patientLocation},
            #{patientProfession},
            #{patientEmail}
             )
     </insert>

    <update id="updatePatient" parameterType="PatientDTO">
        UPDATE patients
        <set>
            <if test="userId != null">user_id=#{userId},</if>
            <if test="tenantId != null">tenant_id=#{tenantId},</if>
            <if test="patientName != null">patientname=#{patientName},</if>
            <if test="patientLastName != null">patientlastname=#{patientLastName},</if>
            <if test="patientDni != null">patientdni=#{patientDni},</if>
            <if test="patientTelephone != null">patienttelephone=#{patientTelephone},</if>
            <if test="patientAddress != null">patientaddress=#{patientAddress},</if>
            <if test="patientLocation != null">patientlocation=#{patientLocation},</if>
            <if test="patientProfession != null">patientprofession=#{patientProfession},</if>
            <if test="patientEmail != null">patientemail=#{patientEmail},</if>
        </set>
        where id=#{id}
    </update>



</mapper>